@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 8%;
padding-bottom: 15px;
background-color:white;
border-left:300px solid #024116;
border-right:300px solid #024116;
}
@font-face {
font-family: "esp";
src:
url("fonts/esp/esp_bdit-webfont.woff") format("woff")
}
.global-search {
text-align:center;
padding:10px;
background-color:white;

margin-left: 300px;
margin-right: 300px;
}
.global-search .form-control {
font-family:'Courier New', monospace;
width:500px;

}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
width:10%;
overflow: auto;
text-align: center;
}
button {
  font-family:'Courier New', monospace;
}
.btn{
background-color: #820024;
border: none
}
.btn:hover{
  background-color: #E9A715;
}
.form-group {
  width: auto;
}
.cbox{
width:auto;
height:auto;
float: left;
}
/* .img{
background-color:transparent;
width:10%;
height:auto;
padding-bottom:20px;
} */

.constraints {
  margin: auto;
  font-family:'Courier New', monospace;
}

.header {
  width: 75%;
  height: 100px;
  position: relative;
}

.header img {
    max-height: 40%;
    max-width: 40%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.step-links a{
color: #4285F4;
}
