@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 8%;
padding-bottom: 15px;
background-color:white;
border-left:300px solid #024116;
border-right:300px solid #024116;
}
.global-search {
text-align:center;
padding:10px;
background-color:white;

margin-left: 300px;
margin-right: 300px;
}
.global-search .form-control {
width:500px;

}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: blue;
border: none
}
.cbox{
width:100px;
height:20px;
padding-top:10px;
padding-left:-20px;
}
.img{
background-color:transparent;
width:10%;
height:auto;
padding-bottom:20px;
}
.step-links a{
color: #4285F4;
}